<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-products">Add Product</a></li>
                <li class="main-header__item"><a href="/contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <form class="product-form" action="/success" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="email">Email Id</label>
                <input type="email" name="email" id="email">
            </div>
                <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>